/*!
 * Made with <3 by Kagami | jakub.bujko@kagami.info
 * -----  kagami-info  -----
 *   > $file.filename
 *   > created @ 9/12/18 12:25 AM
 */

// FONTS
$MONTSERRAT: 'Montserrat', Helvetica, Arial, sans-serif;
$OPEN_SANS: 'Open Sans', Helvetica, Arial, sans-serif;

// COLORS
$PRIMARY: #7d6ae8;
$PRIMARY_DARK: #5649a4;
$PRIMARY_LIGHT: #a69ae8;

$SECONDARY: #50b4fa;
$SECONDARY_DARK: #3881b4;
$SECONDARY_LIGHT: #a0d6fc;

$GREY: #3d3d43;
$GREY_DARK: #18181f;
$GREY_TEXT: #929292;
$GREY_LIGHT: #f3f3f9;

$SUCCESS: #4bf28e;
$WARNING: #bf223c;

