/*!
 * Made with <3 by Kagami | jakub.bujko@kagami.info
 * -----  kagami-info  -----
 *   > $file.filename
 *   > created @ 9/16/18 1:26 AM
 */

@import "../../styles/core/variables";

.services {
	width: 100%;
	padding: 64px 48px 0;
	box-sizing: border-box;

	h1 {
		width: 100%;
		text-align: center;
	}

	.services-content {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-around;

		padding-top: 96px;

		.scroll-button {
			top: 552px;
			left: calc(50% + 4px);
		}
	}

}
