/*!
 * Made with <3 by Kagami | jakub.bujko@kagami.info
 * -----  kagami-info  -----
 *   > $file.filename
 *   > created @ 9/16/18 2:59 AM
 */

.animated-article {
	width: 45%;
	max-width: 440px;

	article {
		width: 100%;

		transition: transform .3s ease-out;

		h2 {
			color: #fff;
			padding-bottom: 24px;
		}

		p {
			padding-bottom: 16px;
		}
	}
}
