// CORE
@import "core/reset";
@import "core/fonts";
@import "core/variables";
// UTILS
@import "utils/typography";

html, body, #root {
	width: 100%;
	height: 100%;
	background: $GREY_DARK;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	h1 {
		font-family: $MONTSERRAT;
	}
}
.content-container {
	position: relative;

	@media screen and (min-width: 1024px) {
		height: 105vh;
		width: 100%;

		overflow: hidden;
	}

	.content {
		position: relative;
		height: 500vh;
		transform: translateY(0);

		transition: transform 1s ease-in-out;
	}
}


