// CORE
@import "core/reset";
@import "core/fonts";
@import "core/variables";
// UTILS
@import "utils/typography";

html, body, #root {
	width: 100%;
	height: 100%;
	background: $GREY_DARK;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	h1 {
		font-family: $MONTSERRAT;
	}
}

.content {
	background: url("images/background_line.png");
	background-repeat: no-repeat;
	background-position: center 552px;

	height: 500vh;
}
