/*!
 * Made with <3 by Kagami | jakub.bujko@kagami.info
 * -----  kagami-info  -----
 *   > $file.filename
 *   > created @ 9/19/18 1:10 AM
 */

.fullpage-wrapper {
	background: url("../../styles/images/background_line.png");
	background-repeat: no-repeat;
	background-position: center 716px;

	height: 100%;

}
