/*!
 * Made with <3 by Kagami | jakub.bujko@kagami.info
 * -----  kagami-info  -----
 *   > $file.filename
 *   > created @ 9/13/18 12:19 AM
 */

.info {
	width: 45%;
	max-width: 520px;
	padding: 0 24px 0 0;

	h1 {
		margin-bottom: 8px;
	}

	p {
		margin-bottom: 16px;
	}
}
